name: altera-uboot-ci-pipeline
###############################################################################
# Altera SOCFPGA Uboot Build Pipeline
###############################################################################

on:
  pull_request:
     branches: [ "socfpga_v*" ]
     types: [opened, synchronize, reopened, review_requested, review_submission]

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
#This action extracts the new commits and performs checkpatch checks on it.
  ci-checkpatch:
    runs-on: [self-hosted,pg-embedded-runner]
    container:
      image: amr-registry.sc.altera.com/pse-pswe-software-ba/embedded_coverity:ubuntu20.04.0_6-new-proxy-inbuilt
      options: -v /mnt/nfs_share/site/proj/psg:/p/psg
    # Check patch only can run at pull request as it is hard to determine the commit during the push event.
    env:
      GITHUB_EVENT_NAME: ${{ github.event_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # This will pull the whole repo, otherwise cannot compare commit.
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Checkpatch.pl
        run: |
          git config --global --add safe.directory /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}
          git clone https://${{ secrets.GIT_USER }}:${{ secrets.GIT_TOKEN }}@github.com/altera-innersource/applications.devops.build-bot.github-pr-workflow
          cd applications.devops.build-bot.github-pr-workflow
          git checkout master
          bash workflow_Checkpatch.sh ../ ${{ github.event.repository.name }} ${{ secrets.GITHUB_TOKEN }} ${{ github.event.pull_request.number }} ${{ github.head_ref }} ${{ github.base_ref }}

#This action is to get dependency binary.
  ci-prepare_prerequisite:
    runs-on: [self-hosted,uboot-arc-runner]
    steps:
    - name: Prepare prerequisite binary.
      run: |
        tmp_dir=$(mktemp -d -t get-prerequisite-binary-XXXX)
        cd $tmp_dir
        git clone https://${{ secrets.GIT_USER }}:${{ secrets.GIT_TOKEN }}@github.com/altera-innersource/applications.devops.build-bot.github-pr-workflow
        cd applications.devops.build-bot.github-pr-workflow
        git checkout master
        bash workflow_Prerequisite.sh
        cp pre-requisite_output.tar ${{ github.workspace }}
        rm -fr $tmp_dir

    - name: pre-requisite-image
      uses: actions/upload-artifact@v4
      with:
        name: pre-requisite-image
        path: ${{ github.workspace }}/pre-requisite_output.tar
        retention-days: 1

#This action performs a build test using an ubuntu container.
  ci-build:
    # The type of runner that the job will run on
    needs: ci-prepare_prerequisite
    runs-on: [self-hosted,pg-embedded-runner]
    container:
        image: amr-registry.sc.altera.com/pse-pswe-software-ba/embedded_coverity:ubuntu20.04.0_6-new-proxy-inbuilt
    env:
      # Disable the warnings of Security violation. We need to check why this is trigger later, plaintext password.
      EC_DISABLE_VAL: project,system
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Download pre-requisite-image
        uses: actions/download-artifact@v4
        with:
          name: pre-requisite-image
      - run: |
          rm -rf /tmp/pre-requisite_output
          tar -xvf pre-requisite_output.tar
          ls
          pwd
          cp -r ./pre-requisite_output /tmp/

      - uses: actions/checkout@v4
      - name: Uboot Build
        run: |
          DIR=$(pwd)
          git config --global credential.helper store
          git clone https://${{ secrets.GIT_USER }}:${{ secrets.GIT_TOKEN }}@github.com/altera-innersource/applications.devops.build-bot.github-pr-workflow
          cd applications.devops.build-bot.github-pr-workflow
          git checkout master
          bash workflow_Build.sh $DIR ${{ github.event.repository.name }} uboot-socfpga-github-workflow

      - name: u-boot-image
        uses: actions/upload-artifact@v4
        with:
          name: u-boot-image
          path: ${{ github.workspace }}/uboot_output.tar
          retention-days: 1

#This action runs the simic regression test
  ci-verification:
     runs-on: [self-hosted,uboot-arc-runner]
     needs: ci-build
     env:
      # Disable the warnings of Security violation. We need to check why this is trigger later, plaintext password.
      EC_DISABLE_VAL: project,system
      GITHUB_EVENT_NAME: ${{ github.event_name }}
     steps:
      - name: Cleaning workspace
        run: |
          rm -rf applications.devops.build-bot.github-pr-workflow
          rm -rf ${GITHUB_WORKSPACE}/.git*

      - name: Download Uboot artifacts
        uses: actions/download-artifact@v4
        with:
          name: u-boot-image
      - run: |
          tar -xvf uboot_output.tar
          ls
          pwd

      - name: Simics Regtest
        run: |
          git clone https://${{ secrets.GIT_USER }}:${{ secrets.GIT_TOKEN }}@github.com/altera-innersource/applications.devops.build-bot.github-pr-workflow
          cd applications.devops.build-bot.github-pr-workflow
          git checkout master
          bash workflow_Regtest.sh ${{ github.workspace }} ${{ github.event.repository.name }} ${{ github.event.pull_request.number }}

#This action checks if there is any unaddressed comments or change request
  ci-check-reviews:
    runs-on: [self-hosted,pg-embedded-runner]
    steps:
     - name: Check for unaddressed change requests
       env:
          https_proxy: proxy-dmz.intel.com:912 # If the self-hosted runner has issues with the proxy
       run: |
          tmp_dir=$(mktemp -d -t get-prerequisite-binary-XXXX)
          cd $tmp_dir
          rm -rf applications.devops.build-bot.github-pr-workflow
          git config --global credential.helper store
          git clone https://${{ secrets.GIT_USER }}:${{ secrets.GIT_TOKEN }}@github.com/altera-innersource/applications.devops.build-bot.github-pr-workflow
          cd applications.devops.build-bot.github-pr-workflow
          git checkout master
          bash workflow_Check_Unaddressed_Change_Request.sh ${{ github.workspace }} ${{ github.repository }} ${{ secrets.GITHUB_TOKEN }} ${{ github.event.pull_request.number }}
          rm -fr $tmp_dir

#This is the commit gate that ensures all required checks are passing before the PR is allowed to be merged.
  ci-check-pr-status:
    runs-on: [self-hosted,pg-embedded-runner]
    needs: [ci-checkpatch, ci-build, ci-verification, ci-check-reviews]
    steps:
     - name: Check for unaddressed change requests
       env:
          https_proxy: proxy-dmz.intel.com:912 # If the self-hosted runner has issues with the proxy
       run: |
          tmp_dir=$(mktemp -d -t get-prerequisite-binary-XXXX)
          cd $tmp_dir
          rm -rf applications.devops.build-bot.github-pr-workflow
          git config --global credential.helper store
          git clone https://${{ secrets.GIT_USER }}:${{ secrets.GIT_TOKEN }}@github.com/altera-innersource/applications.devops.build-bot.github-pr-workflow
          cd applications.devops.build-bot.github-pr-workflow
          git checkout master
          bash workflow_Check_Unaddressed_Change_Request.sh ${{ github.workspace }} ${{ github.repository }} ${{ secrets.GITHUB_TOKEN }} ${{ github.event.pull_request.number }}
          rm -rf $tmp_dir

     - name: On failure
       if: ${{ needs.ci-checkpatch.result != 'success' || needs.ci-build.result != 'success' || needs.ci-verification.result != 'success' || needs.ci-check-reviews.result != 'success' }}
       run: |
          echo "Status check has failed."
          exit 1
